h1 {
  font-size: 40px;
  margin: 12px 0;
}
a {
  padding: 12px 16px 12px 16px;
  background-color: rgb(83, 73, 74);
  color: white;
  border: 5px solid rgb(83, 73, 74);
  border-radius: 20px;
}
img {
  padding: 10px;
}
