/*Estilos usados em todo o código*/
body {
  text-align: center;
  background-color: rgb(231, 229, 229);
  margin: 50px;
}
h1 {
  font-family: "Belanosima", sans-serif;
  color: rgb(202, 85, 104);
  font-size: 40px;
}
h2 {
  font-family: sans-serif;
  color: rgb(75, 71, 71);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}
p {
  font-family: sans-serif;
  color: rgb(121, 106, 106);
  font-size: 18px;
}
a {
  color: rgb(231, 46, 133);
  text-decoration: none;
}
a:hover {
  text-decoration-line: underline;
}
.novoestilo {
  font-family: sans-serif;
  color: rgb(121, 106, 106);
  font-size: 20px;
}
#link {
  color: rgb(75, 71, 71);
  font-size: 26px;
  font-weight: bold;
}
